In [29]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [30]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [31]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [32]:
# create engine to hawaii.sqlite
engine1 = create_engine("sqlite:///Resources/hawaii.sqlite")
engine = engine1.connect()

In [33]:
# Get table names
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [34]:
# Get column names and types
for t in inspector.get_table_names():
    print('\n'+t)
    columns = inspector.get_columns(t)
    for c in columns:
        print(c['name'], c["type"])

measurement
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

station
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [35]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
Measurement = Base.classes.measurement
Station = Base.classes.station

In [36]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [48]:
# Find the most recent date in the data set.
dates = session.query(Measurement.date)
# can use max function because dates are formatted as YYYY-MM-DD
most_recent_date= max(dates)[0]
print(most_recent_date)

2017-08-23

In [59]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
import datetime as dt
# Subtracts one year
startdate1 = str(int(most_recent_date[0:4]) - 1) + most_recent_date[4:]
startdate = dt.datetime(int(startdate1.split('-')[0]),
                       int(startdate1.split('-')[1]),
                       int(startdate1.split('-')[2]))

# Perform a query to retrieve the data and precipitation scores
results = session.query(
                       Measurement.station,
                       Measurement.date, 
                       Measurement.prcp).filter(Measurement.date >= startdate).all()

# Design a query to calculate the PTP for stock `IBM` after May, 2011
# import datetime as dt

# date = dt.datetime(2011, 5, 31)

# results = session.query(Dow.high_price - Dow.low_price, 
#                         Dow.date).\
#                   filter(Dow.date > date).filter(Dow.stock == 'IBM').all()

# # List comprehension solution
# ptp_rows = [{"Date": result[1], "PTP": result[0]} for result in results]
# ptp_rows




# Save the query results as a Pandas DataFrame and set the index to the date column
df_list = [{"Station" : result[0],
           "Date": result[1], "PRCP": result[2]} for result in results]
df = (pd.DataFrame(df_list).sort_values(by='Date')).set_index('Date')
df
# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

                Station  PRCP
Date
2016-08-24  USC00519397  0.08
2016-08-24  USC00517948   NaN
2016-08-24  USC00519281  2.15
2016-08-24  USC00514830  2.28
2016-08-24  USC00513117  2.15
...                 ...   ...
2017-08-22  USC00519523  0.00
2017-08-23  USC00519523  0.08
2017-08-23  USC00519397  0.00
2017-08-23  USC00514830  0.00
2017-08-23  USC00516128  0.45

[2223 rows x 2 columns]

In [22]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [23]:
# Design a query to calculate the total number stations in the dataset

In [24]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [25]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [26]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [27]:
# Close Session
session.close()